<div class="profile-details">
    <table class="table">
        <thead class="table-dark uppercase">
            <tr>
                <td>#</td>
                <td>Fullname</td>
                <td>email-id</td>
                <td>phone no</td>
                <td>DOB</td>
                <td>state</td>
                <td>city</td>
                <td>action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of getAllUserDetails">
                <td>{{row.id}}</td>
                <td>{{row.fullname}}</td>
                <td>{{row.email}}</td>
                <td>{{row.phone}}</td>
                <td>{{row.dob}}</td>
                <td>{{row.city}}</td>
                <td>{{row.state}}</td>
                <td>
                    <button type="button" class="btn btn-info edit" (click)="onEdit(row)" data-bs-toggle="modal"
                        data-bs-target="#upDateModal">Edit</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" (click)="deleteData(row)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="edit-view">
    <div class="modal" id="upDateModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Personal Information</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="">
                        <form [formGroup]="UpdateValue">
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Fullname</label>
                                    <input type="text" class="form-control" formControlName="fullname">
                                </div>
                                <div class="col">
                                    <label class="form-label">Email address</label>
                                    <input type="email" class="form-control" aria-describedby="emailHelp"
                                        formControlName="email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">D.O.BIRTH</label>
                                    <input type="calender" class="form-control" formControlName="dob">
                                </div>
                                <div class="col">
                                    <label class="form-label">Phone no</label>
                                    <input type="text" class="form-control" formControlName="phone">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">City</label>
                                    <input type="text" class="form-control" formControlName="city">
                                </div>
                                <div class="col">
                                    <label class="form-label">State</label>
                                    <input type="text" class="form-control" formControlName="state">
                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                                    (click)="UpdateForm()">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>