::ng-deep{
    nav{
        .container-fluid{
            .collapse{
                .short-name{
                    color: white;
                    margin-right: 22px;
                }
                .logout{
                    cursor: pointer;
                }
            }
        }
    }
}